<div class="img-thumbnail text-center">
  <img src="assets/images/{{ game.image }}" alt="">
    <div class="caption">
      <div *ngIf="!game.showDetails">
        <p>
          <span class="badge badge-warning">
            {{ game.genre[0] + ", " + game.genre[1] }}
          </span>
        </p>
        <p>
          <i class="fas fa-gamepad"></i>
          {{ game.console }}
        </p>
        <h6>
          <strong>
            {{ game.name }}
          </strong>
        </h6>

        <div class="card-separation">
          <!-- To position button and hr a certain height -->
          <hr>

          <button
            class="btn btn-sm btn-info btn-block"
            *ngIf="!game.showDetails"
            (click)="game.showDetails = !game.showDetails">
            Details
          </button>
        </div>


      </div>

      <div *ngIf="game.showDetails">
        <div class="details">
          <h6>
            <span>
              <i class="fas fa-terminal"></i>
              {{ game.developer }}
            </span>
          </h6>
          <h6>
            <span class="badge badge-success">Game opened? {{ game.opened }}</span>
            <span class="badge badge-success">Game started? {{ game.started }}</span>
            <span class="badge badge-success">Game finished? {{ game.finished }}</span>
          </h6>

          <p class="game_description">{{ game.description }}</p>

          <hr>

          <button class="btn btn-sm btn-danger btn-block"
          (click)="game.showDetails = !game.showDetails">
          Less Details
          </button>
        </div>
      </div>

    </div>
</div>
